@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;900&family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: #242424;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

button {
  cursor: pointer;
}

section {
  background-color: rgb(245, 245, 245);
  transition: all 300ms ease;
}

input,
textarea {
  width: 100%;
  background-color: #242424;
  color: #fff;
  outline: none;
  border: 3px solid #c0c4cc;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 300ms ease;
}

textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}

label {
  font-size: 16px;
  font-weight: bold;
}

input:hover,
textarea:hover {
  border-color: #dcdfe6;
}

input:focus,
textarea:focus {
  border-color: #0269a4;
}

.container {
  width: 100%;
  padding: 48px 0;
}

.row {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 12px;
}

.click-hover {
  transition: all 300ms ease;
  cursor: pointer;
}

.click-hover:hover {
  transform: scale(1.1);
}

.click-hover:active {
  transform: scale(0.9);
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect--black::after {
  background-color: black;
}

.link__hover-effect--white::after {
  background-color: white;
}

.link__hover-effect::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3px;
  height: 3px;
  width: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover::after {
  left: 0;
  width: 100%;
}

nav,
.scroll,
.header {
  opacity: 1;
  visibility: visible;
  transition: all 600ms 400ms;
}

.modal__open nav,
.modal__open .scroll,
.modal__open .header {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}

.dark-theme .title,
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .nav__link--anchor,
.dark-theme .fa-moon,
.dark-theme .header__para {
  color: white;
}

.dark-theme .scroll__outline,
.dark-theme .scroll__icon:after {
  outline: 2px #242424 solid;
}

.dark-theme .header__para--outline {
  text-shadow: 2px 2px black;
}

.dark-theme .shape {
  filter: brightness(50);
}

.dark-theme section {
  background-color: #242424;
}

.dark-theme #personal-logo,
.dark-theme .mail__btn {
  filter: invert(1);
}

.dark-theme .scroll__icon {
  border-color: white;
}

.dark-theme .scroll__icon:after,
.dark-theme .link__hover-effect--black::after {
  background-color: white;
}

.dark-theme footer {
  background-color: #3d3d3d;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 16px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid rgb(245, 245, 245);
  background-color: rgba(0, 0, 0, 0.5);
}

/* LANDING PAGE */

#landing-page {
  min-height: 100vh;
}

.title {
  font-size: 110px;
  margin-bottom: 12px;
  font-weight: 700;
  line-height: 1;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  z-index: 1;
}

.mail__btn {
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: none;
  background-color: #242424;
  color: white;
  position: fixed;
  z-index: 1;
  bottom: 32px;
  right: 40px;
  box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.3);
}

.scroll {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #242424;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.scroll__icon:after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: #242424;
  outline: 2px solid #fff;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

.scroll__outline {
  outline: 2px solid #fff;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(-3px);
  }
}

/* NAVIGATION */

#personal-logo {
  width: 88px;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100px;
}

.nav__link--list {
  display: flex;
}

.nav__link {
  margin: 0 12px;
}

.nav__link--anchor {
  font-size: 16px;
  color: #242424;
  font-weight: 700;
}

.fa-moon {
  font-size: 20px;
}

/* HEADER */

.header {
  padding: 0 30px;
}

.blue {
  color: #0269a4;
  font-weight: 700;
}

.header__para {
  font-weight: 500;
  font-size: 24px;
  line-height: 2;
  max-width: 600px;
  color: #242424;
}

.header__para--outline {
  text-shadow: 1px 1px white;
}

.social__list {
  margin-top: 8px;
  display: flex;
}

.social__link {
  background-color: #0269a4;
  border: #0269a4 8px solid;
  border-radius: 50px;
  color: white;
  margin-right: 8px;
  height: 32px;
  width: 32px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MODAL */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal__open .modal {
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
  visibility: visible;
}

.modal__title {
  font-size: 24px;
}

.modal__sub-title {
  margin: 12px 0 24px 0;
  font-size: 14px;
}

.modal__para {
  margin-bottom: 12px;
  line-height: 1.75;
}

.modal__half {
  padding: 40px 72px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 300ms ease-in;
}

.modal__open .modal__about,
.modal__open .modal__contact {
  transform: translateX(0%);
}

.modal__about {
  background-color: rgb(245, 245, 245);
  transform: translateX(-110%);
}

.modal__contact {
  background-color: #242424;
  color: rgb(245, 245, 245);
  transform: translateX(110%);
}

.modal__languages {
  display: flex;
  flex-wrap: wrap;
}

.modal__language--wrapper {
  width: 25%;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(1);
  transition: all 300ms ease;
}

.modal__language--wrapper:hover .language__name {
  transform: scale(1);
}

.modal__language--wrapper:hover {
  filter: brightness(80%);
  transform: scale(0.9);
}

.language__name {
  position: absolute;
  bottom: -10px;
  transform: scale(0);
  transition: all 300ms ease;
}

.modal__language {
  width: 100%;
}

.modal__link--wrapper {
  display: flex;
  justify-content: center;
}

.modal__link {
  background-color: #0269a4;
  border: #0269a4 8px solid;
  border-radius: 50px;
  color: white;
  height: 50px;
  width: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__link--header {
  margin: 16px 0;
  text-align: center;
}

.form__item {
  margin-bottom: 20px;
}

.form__submit {
  background-color: #0269a4;
  border: 2px solid #0269a4;
  color: white;
  font-weight: 700;
  width: 100%;
  max-width: 120px;
  padding: 12px 24px;
  font-size: 20px;
  transition: all 300ms ease;
}

.form__submit:hover {
  border-color: #fff;
  background-color: transparent;
}

.form__submit:active {
  border-color: #0269a4;
  color: #0269a4;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal__overlay--loading {
  background-color: #242424;
  font-size: 80px;
  z-index: -1;
}

.modal__overlay--success {
  background-color: #4bb543;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 32px;
  z-index: -1;
}

.modal__overlay--visible {
  z-index: 1;
  display: flex;
}

.fa-spinner {
  animation: spinner 750ms infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: #fff;
  font-size: 32px;
  z-index: 100;
}

/* PROJECTS */

.section__title {
  text-align: center;
  font-size: clamp(2rem, 5vw, 2.5rem);
  margin-bottom: 56px;
  position: relative;
}

.project__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.project {
  flex-basis: 100%;
  max-width: 600px; 
}

.project__img--wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.project__img {
  width: 100%;
  display: block;
}

.project__img--no-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all 450ms ease;
}

.project__wrapper {
  position: relative;
  border-radius: 24px;
  box-shadow: 0 20px 80px 0 rgb(0 0 0 / 0.45);
  overflow: hidden;
}

.project__wrapper:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__wrapper:hover .project__img--no-title {
  opacity: 1;
  filter: blur(5px);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 8%;
  right: 8%;
  width: auto;
  max-width: none;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 300ms, transform 450ms ease;
  color: white;
}

.project__wrapper--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 450ms ease;
}

.project__wrapper:hover .project__wrapper--bg {
  opacity: 0.7;
}

.project__description--title {
  font-size: clamp(1.25rem, 4vw, 2.25rem);
  line-height: 1.1;
}

.project__description--sub-title {
  margin: 0.5em 0;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.project__description--para {
  margin: 1em 0;
  font-size: clamp(0.85rem, 2.2vw, 1.05rem);
  line-height: 1.6;
}

.project__description--link {
  color: white;
  font-size: clamp(1rem, 3vw, 1.25rem);
  margin-right: 16px;
}

/* FOOTER */

footer {
  position: relative;
  background-color: #242424;
  display: flex;
  padding: 2% 0;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
}

.footer__social--link,
.footer__copyright {
  color: white;
}

/*

  SHAPES

  shapes on the first row
  height = 15vh

  shapes on the second row
  height = 50vh

  shapes on the third row
  height = 80vh

  shapes on the first column
  width = 5vw

  shapes on the second column
  width = 50vw

  shapes on the third column
  width = 80vw

*/

.shape {
  position: fixed;
  z-index: 0;
  height: 100px;
}

.shape--0 {
  top: 15vh;
  left: 12vw;
}

.shape--1 {
  top: 15vh;
  left: 50vw;
}

.shape--2 {
  top: 15vh;
  left: 90vw;
}

.shape--3 {
  top: 50vh;
  left: 12vw;
}

.shape--4 {
  top: 50vh;
  left: 50vw;
}

.shape--5 {
  top: 50vh;
  left: 90vw;
}

.shape--6 {
  top: 80vh;
  left: 12vw;
}

.shape--7 {
  top: 80vh;
  left: 50vw;
}

.shape--8 {
  top: 80vh;
  left: 90vw;
}

/* SMALL PHONES, TABLETS, LARGE SMART PHONES */

@media (max-width: 768px) {
  .title {
    font-size: 80px;
  }
  .header__para {
    font-size: 20px;
  }
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
  }
  .modal__half {
    width: 100%;
  }
  .shapes {
    display: none;
  }
}

/* SMALL PHONES */

@media (max-width: 480px) {
  .modal {
    height: auto !important;
  }
  .modal__contact {
    height: 480px !important;
    padding-bottom: 300px !important;
    margin-top: 10%;
  }
  #contact__submit {
    bottom: -270px !important;
  }
  .title {
    font-size: 56px;
  }
  .header__para {
    font-size: 16px;
  }
  .section__title {
    font-size: 32px;
  }
  .nav__link:first-child {
    display: none;
  }
  .project__description--para {
    display: none;
  }
  .project__description {
    left: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .project__description--title {
    font-size: 32px;
  }
  .modal__half {
    padding: 40px;
  }
}

/* IPHONE 12 PRO */

@media (max-height: 1000px) {
  .modal {
    height: 600px;
  }
  .modal__contact {
    padding: 40px;
    margin-top: 0;
  }
  .modal__exit {
    top: 20px;
    right: 30px;
  }
  #contact__form {
    position: relative;
    height: 50%;
  }
  #contact__submit {
    position: absolute;
    right: 0px;
    bottom: -72px;
  }
  .form__submit {
    font-size: 12px;
    max-width: 80px;
    padding: 8px 12px;
  }
  .form__item {
    height: 60px;
  }
  .modal__about {
    padding: 32px;
  }
  .modal__link--header,
  .modal__link--wrapper {
    display: none;
  }
}

/* IPHONE SE */

@media (max-height: 667px) {
  .modal__about {
    display: none;
  }
  .modal__contact {
    height: 100vh;
  }
  #contact__submit {
    position: absolute;
    bottom: -72px;
  }
}
